# Optional API protection (leave unset for local browser testing)
# PSLABS_API_KEY=
# API_RATE_LIMIT_WINDOW_MS=900000
# API_RATE_LIMIT_THYROCARE_MAX=60
# API_RATE_LIMIT_SKINCARE_MAX=20
# PSLABS_DEBUG_ERRORS=true

THYROCARE_BASE_URL=https://api-sandbox.thyrocare.com
THYROCARE_PARTNER_ID=your_partner_id
THYROCARE_USERNAME=your_staging_username
THYROCARE_PASSWORD=your_staging_password
THYROCARE_CLIENT_TYPE=web
THYROCARE_USER_AGENT=PSLabs-Web
THYROCARE_ENTITY_TYPE=DSA

# Priyanka's Skin Care appointment alerts
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/your_deployment_id/exec
GOOGLE_SHEETS_SPREADSHEET_ID=your_google_sheet_id
GOOGLE_SHEETS_RANGE=Sheet1!A:H
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account-name@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
# Or use one of these instead of GOOGLE_SERVICE_ACCOUNT_EMAIL + GOOGLE_PRIVATE_KEY:
# GOOGLE_PRIVATE_KEY_BASE64=base64_encoded_private_key
# GOOGLE_SERVICE_ACCOUNT_KEY_JSON={"type":"service_account","client_email":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"}
WHATSAPP_GRAPH_VERSION=v23.0
WHATSAPP_ACCESS_TOKEN=your_meta_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_ALERT_TO=919876543210
